/**************************************************************************************/
/** custom CSS for shitkatapult */
/**************************************************************************************/
#yass_top_edge_padding {
	padding-bottom: 0px;
}

/* set sans-serif font for smaller text */
.gigpress-listing, .post .post-content,.textwidget {
	font-family: Verdana, sans-serif;
	line-height: 18px;
	font-size: 11px;
}

.error {
	color: red	!important;
	background-color: black;
}
/**************************************************************************************/
/* header formatting */
.logo {
	height: 80px;
	overflow: visible;
}

.logo a img {
	opacity: 0.9;
	/*     width:50px; */
	/*     height:30px; */
	background: transparent url(./images/shitkatapult.png) 2px 2px no-repeat;
}

.header {
	height: 100px;
}

/* disable search box */
/* div.search,div.menu {  */
/* 	display: none; */
/* } */

/* div.site-description { */
/* 	padding-top: 20px; */
/* } */
/**************************************************************************************/
/**navigation formatting**/
.dd {
	height: 40px;
}
ul.dd li.menu-item {
	width: 110px;
}

.nav ul.dd li ul li {
	padding: 0;
}

.nav .dd li ul {
	background: none repeat scroll 0 0 #595959;
}

.nav .dd li.dd_hover {
	background: none repeat scroll 0 0 #595959;
}

.nav ul.dd > li > a {
	font-size: 15px;
	padding-bottom: 10px;
	padding-top: 13px;
	color: #595959;
	font-weight: bold;
/* 	font-stretch: condensed; */
}

/* active menu is black and underlined  */
.nav .dd li.current-menu-item > a {
	text-decoration: underline;
	color: black;
}

.nav .dd li.current-menu-item a.dd_hover {
	text-decoration: none;
	color: white;
}
/* grid post css determines grid lines and left margin */
/* .grid .post { */
/*     background-color: #F5F5F5; */
/*     cursor: pointer; */
/*     float: left; */
/*     height: 154px; */
/*     margin: 19px 0 0 19px; */
/*     overflow: hidden; */
/*     padding: 18px; */
/*     position: relative; */
/*     width: 154px; */
/* } */

/* fix long label */
li#menu-item-11 > a{
	font-size: 8px;
	font-stretch: ultra-condensed;
}

.nav .dd li.parent a.dd_hover {
	border-bottom: 0px;
/* 	padding-bottom: 10px; */
}

.nav .dd .sub-menu li a {
	font-size: 12px;
	font-stretch: wider;
	color: white;
	padding-left: 8px;
}

.nav .dd li ul {
	padding: 0px 0 10px;
}

/**************************************************************************************/
/** alignment left **/

/* fix alignment first menu item (was centered) */
.nav ul.dd:first-child a {
	text-align: left;
	margin-left: 19px;
}
div.post-content  div#product-detail-tabs.wp-tabs > div.ui-tabs > ul.ui-tabs-nav li.first-li {
	padding-left: 0px;
}
/* same padding as content-header on standard pages */
div.post-content  div.wp-tabs > div.ui-tabs > ul.ui-tabs-nav li.first-li {
	padding-left: 19px;
}
div#artist-set-tabs .ui-tabs-panel > h3.wp-tab-title {
	padding: 20px 0 0 19px;
	margin: 0;
}

div.product-detail {
	padding-left: 19px;
/*   margin-bottom: 10px; */
/*   margin-left: 20px; */
}
/* to align with the menu and tab headers */
div#artist-set-tabs .grid {
padding: 0 0 0 0px;
}

/**************************************************************************************/
/** slideshow formatting **/

#slideshow .slide {
	background: #685a68;
}
#slideshow .slide .post h2, #slideshow .slide .post h2 a {
color: white;
font-size: 24px;
font-weight: normal;
text-decoration: none;
}
#slideshow .slide .post a {
color: white;
}
#slideshow .slide .post .post-content {
	color: white;
}
#content .post h2 a {
	font-size: 20px;
}
/**************************************************************************************/
/*  override some sight theme styles  */
/* div.wrapper div#container.clear div.sidebar div#gigpress-3.widget_gigpress h3 */
div.wrapper .widget h3 {
	margin-bottom: 15px;
	padding-bottom: 10px;
}

.widget a { /*     color: #000000; */
	text-decoration: underline;
}

/**************************************************************************************/
/** grid formatting **/

/* disable the meta info */
.post-meta {
	height: 0px;
	display: none;
	overflow: hidden;
}

/* change size of boxes .grid .post to fir more columns in grid */
div.grid {
	width: 628px;
	padding: 0 0 0 0;
}

/* no space around the content block */
.entry .post-content {
	padding: 0px 0px 0px 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	overflow: hidden;
}
/* only top level paragraphs */
.entry .page .post-content > p {
	display: none;
}
.wrapper .footer {
	height: 30px;
}

/* this affects layout when submenu unfolds */
div#container.clear { /* 	padding-top: 0px; */
	padding-bottom: 0px;
}

/**************************************************************************************/
/* wptab formats */

/* remove wp-tabs default borders */
div.wp-tabs div.ui-tabs {
/* 	background: none repeat scroll 0 0 white; */
	border-width: 0;
	padding: 0;
	margin: 0;
}

/* remove the grey bar and remove round corners */
div.wp-tabs div.ui-tabs ul.ui-tabs-nav {
	background: none repeat scroll 0 0 transparent;
	border-width: 0px 0px 1px 0px;
	padding-top: 0px;
	padding-left: 0px;
	border-radius: 0px;
}

/* seamless fit for div*/
div.wp-tabs div.ui-tabs div.wp-tab-content {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.wpui-styles ul.ui-tabs-nav li.ui-corner-all a {
	/* -moz-border-radius: 3px; */
	/* -webkit-border-radius: 3px; */
	/* -o-border-radius: 3px; */
	border-radius: 0px;
}

/* fix the erased line bug */
.post-content ul.ui-tabs-nav li {
	bottom: 0px;
}

.wp-tab-content {
	background: none repeat scroll 0 0 transparent;
}

div.post-content .ui-tabs-nav {
	border-width: 0px 0px 1px 0px;
	margin: 0px;
}

div.post-content ul.ui-tabs-nav li {
/* 	background: none repeat scroll 0 0 white; */
	border-style: none;
	padding-top: 0px;
	padding-left: 0px;
	margin: 0px;
}

div.post-content ul.ui-tabs-nav li a {
	/* 	background: none repeat scroll 0 0 white; */
	text-shadow: 0 0px 0;
	border-width: 0px;
	padding-top: 0px;
	padding-left: 0px;
}

div.post-content ul.ui-tabs-nav li.ui-state-active {
	background: none repeat scroll 0 0;
	padding-top: 0px;
	padding-left: 0px;
	text-decoration: underline;
}

/* most precise rule to override wpui-all.css */
div.post-content ul.ui-tabs-nav li.ui-state-default a {
	color: #bbb;
}

div.post-content ul.ui-tabs-nav li.ui-state-hover a {
	color: #999;
	text-decoration: underline;
}

div.post-content ul.ui-tabs-nav li.ui-tabs-selected a {
	color: #555;
	text-decoration: underline;
}

div.post-content .wp-tabs {
	margin: 0px;
	padding: 0px;
}

div.post-content .ui-tabs-panel {
/* 	background: none repeat scroll 0 0 white; */
	border: 0px;
	margin: 0 0 0 0;		/* 10px on top?? */
 	padding: 0px;
}

/* override css from themes/sight/style.css */
/* .pagination {padding: 20px 0 0 30px; color: #aaa9a9; font-size: 12px; clear: both; position: relative;} */
/* .pagination a {color: #000; text-decoration: none;} */
/* .pagination a:hover {text-decoration: underline;} */
/* .pagination .nextpostslink {position: absolute; right: 0; top: 17px; line-height: 21px; text-transform: uppercase; background: url("images/nextpostslink.png") 100% 0 no-repeat; padding-right: 36px;} */
/* .pagination .previouspostslink {position: absolute; left: 30px; top: 17px; line-height: 21px; text-transform: uppercase; background: url("images/previouspostslink.png") 0 0 no-repeat; padding-left: 36px;} */

/* #pagination {padding: 20px 0 0 30px;} */
/* #pagination .nextpostslink {color: #000; text-decoration: none; display: block; padding: 9px 0; text-align: center; font-size: 14px;} */
/* #pagination .nextpostslink:hover {background-color: #FFEA97; text-decoration: none; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;} */
/* #pagination .loading {background: url("images/loading.gif") 240px 9px no-repeat; color: #555;} */
/* #pagination .loading:hover {background-color: transparent !important; cursor: default;} */

/* we need to specify pagination to override the image */
.loading, .post-content .pagination .loading {background: url("images/loading.gif")  100% 0 no-repeat ; }

.ui-tabs .pagination {
	margin: 10px 0 10px 19px;
	background-color: #f0f0f0;
}

.ui-tabs .pagination .nextpostslink {
	display: inline;
	position: relative;
	color: #000;
	font-weight: bold;
	font-size: 14px;
	top: 0px; /* needed to override theme */
	margin-left: 50px;
	padding-left:10px;
}

.ui-tabs .pagination .nextpostslink:hover {
	background-color: #FF8888;
	text-decoration: underline;
}

.ui-tabs .pagination .loading:hover {
	background-color: transparent !important;
	cursor: default;
}

/******************************************************************/
/* label page */
.label-header {
	display: block;
	font-size: 150%;
	font-weight: bold;
}

.label-type {
	font-size: 70%;
	font-style: italic;
	color: #888;
}
/******************************************************************/
/* social links */
#socialLinking {
	width: auto; /* 234px */
}

#socialLinking a {
	display: inline;
	bottom: auto;
	position: relative;
	float: left;
	right: auto;
	margin-right: 2px;
}

/* z-index is not working somehoew */
/* div.nav, div.nav * { z-index: 100; } */
/* div.search, div.search * { z-index: 999; } */

.header .search {
    position: relative;
    margin-top: 0;
    top: 70px;
	left: 32px;
    width: 145px;
}
/******************************************************************/
/* debug div */
#debugDiv {
	visibility: hidden;
	border: 2px inset maroon;
	background: pink;
	height: 0px;
	width: auto;
	display: inline-block;
	overflow: hidden;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 5000;
	font-size: 150%;
}

#closeButton {
	background-color: #c00;
	position: relative;
	float: right;
	color: white;
	font-stretch: 200%;
	font-size: 200%;
	border: 2px inset maroon;
}

img#uv {
	height: 20px;
	width: 20px;
}

/* ######################################################################## */
/* ######################################################################## */
/* ######################################################################## */
/* SHARE BOOKMARKS */
/* ######################################################################## */
/* ######################################################################## */
/* ######################################################################## */
div.shr-bookmarks {
    clear: both !important;
    margin: 0 0;
}
div.shr-bookmarks-expand {
    height: 32px;
    overflow: hidden;
}
div.shr-bookmarks ul.socials li {
    background-image: url("images/shr-custom-sprite.png") !important;
    background-repeat: no-repeat !important;
}
div.shr-bookmarks-bg-knowledge {
    background: url("images/share-knowledge.png") no-repeat scroll 0 0 transparent !important;
    padding: 35px 0 0 10px !important;
}
div.shr-bookmarks ul.socials {
    float: left !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
}
div.shr-bookmarks ul.socials {
    background: none repeat scroll 0 0 transparent !important;
    border: 0 none !important;
    outline: 0 none !important;
}
div.shr-bookmarks ul.socials li {
    background-color: transparent !important;
    border: 0 none !important;
    clear: none !important;
    cursor: pointer !important;
    display: inline !important;
    float: left !important;
    height: 29px !important;
    list-style-type: none !important;
    margin: 3px 0 0 !important;
    outline: 0 none !important;
    padding: 0 !important;
    width: 60px !important;
}
div.shr-bookmarks ul.socials li:before, div.shr-bookmarks ul.socials li:after, div.shr-bookmarks ul.socials li a:before, div.shr-bookmarks ul.socials li a:after {
    content: "" !important;
}
div.shr-bookmarks ul.socials a, div.shr-bookmarks ul.socials a:hover {
    background-color: transparent !important;
    border: 0 none !important;
    display: block !important;
    height: 29px !important;
    text-decoration: none !important;
    text-indent: -9999px !important;
    width: 60px !important;
}
div.shr-bookmarks ul.socials a:hover, div.shr-bookmarks ul.socials li:hover {
    background-color: transparent !important;
    border: 0 none !important;
    outline: 0 none !important;
}
li.shr-facebook {
    background-position: 0 bottom !important;
}
li.shr-facebook:hover {
    background-position: 0 top !important;
}
li.shr-twitter {
    background-position: -60px bottom !important;
}
li.shr-twitter:hover {
    background-position: -60px top !important;
}
li.shr-delicious {
    background-position: -120px bottom !important;
}
li.shr-delicious:hover {
    background-position: -120px top !important;
}
li.shr-stumbleupon {
    background-position: -180px bottom !important;
}
li.shr-stumbleupon:hover {
    background-position: -180px top !important;
}
li.shr-digg {
    background-position: -240px bottom !important;
}
li.shr-digg:hover {
    background-position: -240px top !important;
}
li.shr-gmail {
    background-position: -300px bottom !important;
}
li.shr-gmail:hover {
    background-position: -300px top !important;
}
li.shr-linkedin {
    background-position: -360px bottom !important;
}
li.shr-linkedin:hover {
    background-position: -360px top !important;
}
li.shr-googlebuzz {
    background-position: -420px bottom !important;
}
li.shr-googlebuzz:hover {
    background-position: -420px top !important;
}
li.shr-googlebookmarks {
    background-position: -480px bottom !important;
}
li.shr-googlebookmarks:hover {
    background-position: -480px top !important;
}
li.shr-hotmail {
    background-position: -540px bottom !important;
}
li.shr-hotmail:hover {
    background-position: -540px top !important;
}
li.shr-technorati {
    background-position: -600px bottom !important;
}
li.shr-technorati:hover {
    background-position: -600px top !important;
}
li.shr-reddit {
    background-position: -660px bottom !important;
}
li.shr-reddit:hover {
    background-position: -660px top !important;
}
li.shr-diigo {
    background-position: -720px bottom !important;
}
li.shr-diigo:hover {
    background-position: -720px top !important;
}
li.shr-comfeed {
    background-position: -780px bottom !important;
}
li.shr-comfeed:hover {
    background-position: -780px top !important;
}
