/**************************************************************************************/
/** custom CSS for shitkatapult */
/**************************************************************************************/
#yass_top_edge_padding {
	padding-bottom: 0px;
}

body {
	font-family: 'Crimson Text', serif;
}

/**************************************************************************************/
/* header formatting */
.logo {
	height: 80px;
	overflow: visible;
}

.logo a img {
	opacity: 0.9;
	/*     width:50px; */
	/*     height:30px; */
	background: transparent url(./images/shitkatapult.png) 2px 2px no-repeat;
}

.header {
	height: 100px;
}

/* disable search box */
div.search,div.menu { /* 	display: none; */

}

div.site-description {
	padding-top: 20px;
}
/**************************************************************************************/
/**navigation formatting**/
.menu-item {
	width: 110px;
}

.dd {
	height: 40px;
}

.nav .dd li ul {
	background: none repeat scroll 0 0 #595959;
}

.nav .dd li.dd_hover {
	background: none repeat scroll 0 0 #595959;
}

.nav .dd li.parent a.dd_hover {
	border-bottom: 0px solid #595959;
/* 	padding-bottom: 10px; */
}

.nav .dd li a {
	font-size: 16px;
	padding-bottom: 10px;
	padding-top: 13px;
}

.nav .dd .sub-menu li a {
	font-size: 12px;
}

.nav .dd li ul {
	padding: 0px 0 10px;
}

/* fix alignment first menu item */
li#menu-item-13 a {
	margin-left: 12px;
}

#slideshow .slide {
	background: #685a68;
}
#slideshow .slide .post h2, #slideshow .slide .post h2 a {
color: white;
font-size: 24px;
font-weight: normal;
text-decoration: none;
}
#slideshow .slide .post a {
color: white;
}
#slideshow .slide .post .post-content {
	color: white;
}
#content .post h2 a {
	font-size: 20px;
}
.post .post-content {
	font-family: Verdana, sans-serif;
	line-height: 18px;
	font-size: 11px;
}
/**************************************************************************************/
/*  override some sight theme styles  */
/* div.wrapper div#container.clear div.sidebar div#gigpress-3.widget_gigpress h3 */
div.wrapper .widget h3 {
	margin-bottom: 15px;
	padding-bottom: 10px;
}

.widget a { /*     color: #000000; */
	text-decoration: underline;
}

/**************************************************************************************/
/** grid formatting **/

/* disable the meta info */
.post-meta {
	height: 0px;
	display: none;
	overflow: hidden;
}

/* change size of boxes for more columns in grid */
div#loop.grid {
	width: 628px;
	padding-left: 0px;
}

div.wrapper div#container div#content div#loop.grid div.post {
	height: 154px;
	width: 154px;
/* 	margin: 19px 0 0 19px; */
	padding: 0px 18px 18px 0px;
	/*     height: 154px; */
	/*     width: 154px; */
	/*     margin: 19px 0 0 19px; */
	/*     padding: 18px; */
}

/* no space around the content block */
.entry .post-content {
	padding: 0px 0px 0px 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	overflow: hidden;
}
/* only top level paragraphs */
.entry .page .post-content > p {
	display: none;
}

.wrapper .footer {
	height: 30px;
}

/* this affects layout when submenu unfolds */
div#container.clear { /* 	padding-top: 0px; */
	padding-bottom: 0px;
}

/**************************************************************************************/
/* wptab formats */

/* remove wp-tabs default borders */
div.post-content div.wp-tabs div.ui-tabs {
	background: none repeat scroll 0 0 white;
	border-width: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

/* remove the grey bar and remove round corners */
div.wp-tabs div.ui-tabs ul.ui-tabs-nav {
	background: none repeat scroll 0 0 white;
	border-width: 0px 0px 1px 0px;
	padding-top: 0px;
	padding-left: 0px;
	border-radius: 0px;
}

div.wp-tabs div.ui-tabs ul.ui-tabs-nav li.first-li {
	padding-left: 30px;		/* same padding as content-header on standard pages */
}

/* seamless fit for div*/
div.wp-tabs div.ui-tabs div.wp-tab-content {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.wpui-styles ul.ui-tabs-nav li.ui-corner-all a {
	/* -moz-border-radius: 3px; */
	/* -webkit-border-radius: 3px; */
	/* -o-border-radius: 3px; */
	border-radius: 0px;
}

/* fix the erased line bug */
.post-content ul.ui-tabs-nav li {
	bottom: 0px;
}

.wp-tab-content {
	background: none repeat scroll 0 0 white;
}

div.post-content .ui-tabs-nav {
	border-width: 0px 0px 1px 0px;
	margin: 0px;
}

div.post-content ul.ui-tabs-nav li {
	background: none repeat scroll 0 0 white;
	border-style: none;
	padding-top: 0px;
	padding-left: 0px;
	margin: 0px;
}

div.post-content ul.ui-tabs-nav li a {
	/* 	background: none repeat scroll 0 0 white; */
	text-shadow: 0 0px 0;
	border-width: 0px;
	padding-top: 0px;
	padding-left: 0px;
}

div.post-content ul.ui-tabs-nav li.ui-state-active {
	background: none repeat scroll 0 0;
	padding-top: 0px;
	padding-left: 0px;
	text-decoration: underline;
}

/* most precise rule to override wpui-all.css */
div.post-content ul.ui-tabs-nav li.ui-state-default a {
	color: #bbb;
}

div.post-content ul.ui-tabs-nav li.ui-state-hover a {
	color: #999;
	text-decoration: underline;
}

div.post-content ul.ui-tabs-nav li.ui-tabs-selected a {
	color: #555;
	text-decoration: underline;
}

div.post-content .wp-tabs {
	margin: 0px;
	padding: 0px;
}

div.post-content .ui-tabs-panel {
	background: none repeat scroll 0 0 white;
	border: 0px;
	margin: 10px 0 0 0;
	padding: 0px;
}

div.post-content #product-detail-tabs .ui-tabs-panel {
	margin: 0;
}

/* override css from themes/sight/style.css */
.ui-tabs .pagination {
	padding-left: 0px;
	margin-top: 10px;
	background-color: #f0f0f0;
}

.ui-tabs .pagination .nextpostslink { /* 	float: left; */
	display: inline;
	position: relative;
	color: #000;
	/* 	background: inherit; */
	font-weight: bold;
	font-size: 14px;
	/*     text-align: center; */
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding-left: 120px;
	padding-right: 120px;
	/*     padding: 0px 0px 0px 0px; */
	top: 0px; /* to override theme*/
}

.ui-tabs .pagination .nextpostslink:hover {
	background-color: #FFEA97;
	text-decoration: underline;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/* try generic loading */
.loading {
	background: url("/images/loading.gif") no-repeat;
	/* 	240px 9px */
	/*   color: #555; */
}

.ui-tabs .pagination .loading:hover {
	background-color: transparent !important;
	cursor: default;
}

/******************************************************************/
/* label page */
.label-header {
	display: block;
	font-size: 150%;
	font-weight: bold;
}

.label-type {
	font-size: 70%;
	font-style: italic;
	color: #888;
}
/******************************************************************/
/* social links */
#socialLinking {
	width: auto; /* 234px */
}

#socialLinking a {
	display: inline;
	bottom: auto;
	position: relative;
	float: left;
	right: auto;
	margin-right: 2px;
}

/* z-index is not working somehoew */
/* div.nav, div.nav * { z-index: 100; } */
/* div.search, div.search * { z-index: 999; } */

/* .header .search { */
/*     position: relative; */
/*     margin-top: 0; */
/*     top: 70px; */
/* 	left: 32px; */
/*     width: 145px; */
/* } */
/******************************************************************/
/* debug div */
#debugDiv {
	visibility: hidden;
	border: 2px inset maroon;
	background: pink;
	height: 0px;
	width: auto;
	display: inline-block;
	overflow: hidden;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 5000;
	font-size: 150%;
}

#closeButton {
	background-color: #c00;
	position: relative;
	float: right;
	color: white;
	font-stretch: 200%;
	font-size: 200%;
	border: 2px inset maroon;
}

img#uv {
	height: 20px;
	width: 20px;
}