a: 32: {
	s: 10 : "shows_page";
	s: 7 : "/dates/";
	s: 10 : "noupcoming";
	s: 30 : "No shows booked at the moment.";
	s: 6 : "nopast";
	s: 28 : "No shows in the archive yet.";
	s: 10 : "user_level";
	s: 10 : "edit_posts";
	s: 11 : "date_format";
	s: 5 : "m/d/y";
	s: 16 : "date_format_long";
	s: 9 : "l, F jS Y";
	s: 11 : "time_format";
	s: 4 : "g:ia";
	s: 15 : "alternate_clock";
	s: 1 : "1";
	s: 12 : "artist_label";
	s: 6 : "Artist";
	s: 10 : "tour_label";
	s: 4 : "Tour";
	s: 16 : "age_restrictions";
	s: 40 : "All Ages | All Ages/Licensed | No Minors";
	s: 16 : "related_position";
	s: 5 : "after";
	s: 15 : "related_heading";
	s: 12 : "Related show";
	s: 15 : "autocreate_post";
	s: 1 : "1";
	s: 16 : "related_category";
	s: 1 : "3";
	s: 17 : "relatedlink_notes";
	s: 1 : "1";
	s: 7 : "related";
	s: 13 : "Related post.";
	s: 8 : "rss_head";
	s: 1 : "1";
	s: 21 : "display_subscriptions";
	s: 1 : "1";
	s: 9 : "rss_title";
	s: 14 : "Upcoming shows";
	s: 15 : "display_country";
	s: 1 : "1";
	s: 12 : "country_view";
	s: 4 : "long";
	s: 12 : "target_blank";
	s: 1 : "1";
	s: 10 : "db_version";
	s: 3 : "1.5";
	s: 15 : "default_country";
	s: 2 : "US";
	s: 12 : "default_date";
	s: 10 : "2012-04-10";
	s: 12 : "default_time";
	s: 8 : "00:00:01";
	s: 12 : "default_tour";
	s: 1 : "0";
	s: 14 : "default_artist";
	s: 3 : "368";
	s: 13 : "default_title";
	s: 28 : "%artist% in %city% on %date%";
	s: 12 : "related_date";
	s: 3 : "now";
	s: 7 : "welcome";
	s: 0 : "";
}